@*@model MVCEnMiNevera.Models.LoginModel //Eso esta petando cuando accedes a un controlador que haga uso de otro modelo, habra que hacerlo de otra manera*@ 
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    <style type="text/css">
        .wordcloud {
            border: 1px solid #036;
            height: 4in;
            margin: 0.5in auto;
            padding: 0;
            page-break-after: always;
            page-break-inside: avoid;
            width: 4in;
        }
    </style>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Desplegar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="css/images/Logo.png" width="30px">EnMiNevera</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        string ctrl = @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
                        string inicio = "", actividad = "", recetas = "";
                        if (ctrl == "home")
                            inicio = "active";
                        else if (ctrl == "")
                            actividad = "active";
                        else if (ctrl == "receta")
                            recetas = "active";
                    }
                    <li class="@inicio">@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="@actividad">@Html.ActionLink("Actividad", "Index", "Home")<li>
                    <li class="@recetas">@Html.ActionLink("Recetas", "Ultimas", "Receta")</li>
                </ul>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logoutForm", @class = "navbar-form navbar-right" }))
                    {
                        <span>¡Hola @Html.ActionLink(User.Identity.Name, "perfil", "usuario", routeValues: null, htmlAttributes: new { @class = "username", title = "Administrar" })!</span>
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Salir</a>
                    }
                }
                else
                {
                    //using (Html.BeginForm(new { controller = "account", action = "login", ReturnUrl = ViewBag.ReturnUrl }))
                    using (Html.BeginForm("login", "account", FormMethod.Post, new { @id = "logoutForm", @class = "navbar-form navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <input data-val="true" data-val-required="El campo Nombre de usuario es obligatorio." id="Nick" name="Nick" type="text" value="">
                        <span class="field-validation-valid" data-valmsg-for="Nick" data-valmsg-replace="true"></span>
                        <input data-val="true" data-val-required="El campo Contraseña es obligatorio." id="Password" name="Password" type="password" value="">
                        <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        <input id="RememberMe" name="RememberMe" type="hidden" value="false">
                        @*<input data-val="true" data-val-required="El campo ¿Recordar cuenta? es obligatorio." id="RememberMe" name="RememberMe" type="checkbox" value="true"><input name="RememberMe" type="hidden" value="false">
                        <label class="checkbox" for="RememberMe">recordar</label>*@
                        @*@Html.TextBoxFor(m => m.Nick)
                        @Html.ValidationMessageFor(m => m.Nick)
                        @Html.TextBoxFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })*@

                        <input class="btn btn-success" type="submit" value="Iniciar sesión">
                        <a href="@Url.Action("Register", "Account")">Regístrate</a>
                    }
                }
            </div>
        </div>
    </nav>

    <div class="main container">
        @RenderBody()
    </div>
    
    @*<footer class="footer">
        <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
        </div>
    </footer>*@
    @*<footer class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">*@
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="#">Sobre nosotros</a>
                </div>
                <div class="col-md-3">
                    <a href="#">Ayuda</a>
                </div>
                <div class="col-md-3">
                    <a href="#">Privacidad</a>
                </div>
                <div class="col-md-3">
                    En Mi Nevera, 2015
                </div>
            </div>
        </div>
    </footer>
    

    <script src="~/Scripts/jquery.awesomeCloud-0.2.js"></script>
    <script src="~/Scripts/bootstrap-tagsinput.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-tagsinput.css">
    <script>
            jQuery(document).ready(function ($) {
                $("#demo").awesomeCloud({
                    "size" : {
                        "grid" : 16, // word spacing, smaller is more tightly packed
                        "factor" : 0, // font resize factor, 0 means automatic
                        "normalize" : false // reduces outliers for more attractive output
                    },
                    "color" : {
                        "background" : "rgba(255,255,255,0)", // background color, transparent by default
                        "start" : "#20f", // color of the smallest font, if options.color = "gradient""
                        "end" : "rgb(200,0,0)" // color of the largest font, if options.color = "gradient"
                    },
                    "options" : {
                        "color" : "random-dark", // random-light, random-dark, gradient
                        "rotationRatio" : 0, // 0 is all horizontal, 1 is all vertical
                        "printMultiplier" : 3, // set to 3 for nice printer output; higher numbers take longer
                        "sort" : "random" // highest, lowest or random
                    },
                    "font": "'Helvetica Neue', Helvetica, Arial, sans-serif", //  the CSS font-family string
                    "shape" : "circle" // circle, square, star or a theta function describing a shape
                });
            });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>