@*@model MVCEnMiNevera.Models.LoginModel //Eso esta petando cuando accedes a un controlador que haga uso de otro modelo, habra que hacerlo de otra manera*@ 
@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    
    <style type="text/css">
        .wordcloud {
            border: 1px solid #036;
            height: 4in;
            margin: 0.5in auto;
            padding: 0;
            page-break-after: always;
            page-break-inside: avoid;
            width: 4in;
        }
    </style>
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Desplegar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")"><img src="css/images/Logo.png" width="30px">Logotipo</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                @if (Request.IsAuthenticated)
                {
                    <div class="navbar-form navbar-right">
                        ¡Hola, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Administrar" })!
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                        }

                    </div>
                }
                else
                {
                    using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) 
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="navbar-form navbar-right">
                            <input data-val="true" data-val-required="El campo Nombre de usuario es obligatorio." id="Nick" name="Nick" type="text" value="">
                            <span class="field-validation-valid" data-valmsg-for="Nick" data-valmsg-replace="true"></span>
                            <input data-val="true" data-val-required="El campo Contraseña es obligatorio." id="Password" name="Password" type="text" value="">
                            <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                            <input data-val="true" data-val-required="El campo ¿Recordar cuenta? es obligatorio." id="RememberMe" name="RememberMe" type="checkbox" value="true"><input name="RememberMe" type="hidden" value="false">
                            <label class="checkbox" for="RememberMe">¿Recordar cuenta?</label>
                            @*@Html.TextBoxFor(m => m.Nick)
                            @Html.ValidationMessageFor(m => m.Nick)
                            @Html.TextBoxFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })*@

                            <input class="btn btn-default" type="submit" value="Iniciar sesión">
                            <a href="@Url.Action("Register", "Account")">Regístrate</a>
                        </div>
                    }
                }
            </div>
            
        </div>
        
    </nav>
    
        @RenderBody()
        
        <footer class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">

            <div class="navbar-text pull-left">
                <div class="container">
                    <div class="col-md-3">
                        <a href="#">Sobre nosotros</a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">Ayuda</a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">Privacidad</a>
                    </div>
                    <div class="col-md-3">
                        En Mi Nevera, 2015
                    </div>
                </div>
            </div>
        </footer>
    

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.awesomeCloud-0.2.js"></script>
    <script src="~/Scripts/bootstrap-tagsinput.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-tagsinput.css">
    <script>
            jQuery(document).ready(function ($) {
                $("#demo").awesomeCloud({
                    "size" : {
                        "grid" : 16, // word spacing, smaller is more tightly packed
                        "factor" : 0, // font resize factor, 0 means automatic
                        "normalize" : false // reduces outliers for more attractive output
                    },
                    "color" : {
                        "background" : "rgba(255,255,255,0)", // background color, transparent by default
                        "start" : "#20f", // color of the smallest font, if options.color = "gradient""
                        "end" : "rgb(200,0,0)" // color of the largest font, if options.color = "gradient"
                    },
                    "options" : {
                        "color" : "random-dark", // random-light, random-dark, gradient
                        "rotationRatio" : 0, // 0 is all horizontal, 1 is all vertical
                        "printMultiplier" : 3, // set to 3 for nice printer output; higher numbers take longer
                        "sort" : "random" // highest, lowest or random
                    },
                    "font": "'Helvetica Neue', Helvetica, Arial, sans-serif", //  the CSS font-family string
                    "shape" : "circle" // circle, square, star or a theta function describing a shape
                });
            });
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>