@model MVCEnMiNevera.Models.Receta
@{
    Layout = null;
}

@using (Html.BeginForm("Crear", "Receta", FormMethod.Post, new { enctype = "multipart/form-data", @id="form-receta" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">
        <h4>Receta:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" />
            </div>
        </div>

        <hr />

        <h4>Ingredientes:</h4>
        <ul id="ingredientes" class="list-group">
        </ul>
        <buton id="nuevo-ingrediente" type="button" class="btn btn-primary">Nuevo</buton>

        <hr />

        <h4>Pasos:</h4>
        <ul id="pasos" class="list-group">
        </ul>
        <buton id="nuevo-paso" type="button" class="btn btn-primary">Nuevo</buton>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@Html.Partial("_FormLineaIngrediente")
@Html.Partial("_FormPasos")

@* Los Scripts necesarios estan en Crear ya que en partial no se puede acceder a sections *@


        
