@model MVCEnMiNevera.Models.Comentario
@{
    Layout = null;
}

@* /////////////////////////////////////////// *@
@* Formulario de comentarios *@
@* /////////////////////////////////////////// *@

@using (Html.BeginForm("create", "comentario", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Comentario nuevo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.ComentarioTexto, 5, 20,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ComentarioTexto, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdReceta)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enviar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
