@model IEnumerable<MVCEnMiNevera.Models.Receta>
@{
    ViewBag.Title = "Ultimas recetas";
}
<div class="row">
    <div class="col-md-4 col-md-push-1 col-xs-6 col-xs-offset-1">
        <h2>Últimas recetas añadidas</h2>
        @using (Html.BeginForm())
        {
            <div class="input-group">
                @Html.TextBox("Search", "", new { @class = "form-control" })<!--<input type="search" class="form-control" placeholder="Búsqueda">-->
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Buscar recetas</button>
                </span>
            </div>
        }

    </div>
    <div class="col-md-3 col-md-push-5">
        <p><button class="fa fa-plus-square fa-3x">@Html.ActionLink(" ", "Crear", "Receta")</button></p>
        <p>Añadir receta</p>
    </div>
</div>

<div class="container">
    <!--AQUÍ VA TODAS LAS ULTIMAS RECETAS-->
    <div class="col-md-2 col-sm-3 col-xs-12">
        <table class="table">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img height="60" width="100" src="@Html.DisplayFor(model => item.Foto)" alt="@Html.DisplayFor(model => item.Nombre)">
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Nombre)
                        @Html.DisplayFor(model => item.Descripcion)
                        <p>@Html.ActionLink("Ver más", "../receta/ver", new { id = item.id })</p>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>